.pagination{
    position: fixed;
    bottom: 0;
    background: white;
    width: 90%;
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.pageChanger{
    display: flex;
    gap: 20px;
}